.container-card {
  height: 353px;
  padding: 0;
  width: 402px;
  background-color: rgb(0 0 0/10%);
  backdrop-filter: blur(8px);
  border-radius: 19px 19px 19px 19px;
  margin: 0 5px 40px 5px;
}

.container-card:hover {
  transform: translate(3px, -3px);
  /* transform: translateX(-2px); */
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 5px 10px 20px 5px rgb(0 0 0 / 70%);
}

.container-img {
  position: relative;
  display: flex;
  width: 403px;
  height: 300px;
  background-color: rgb(0 0 0/70%);
  border-radius: 15px 15px 0 0;
}

.image {
  /* position: relative; */
  position: absolute;
  cursor: pointer;
  width: 403px;
  height: 303px;
  border-radius: 15px 15px 0 0;
}

.text_default {
  display: flex;
  font-size: 23px;
  color: rgb( 255 255 255 / 70%);
  align-items:flex-end;
  justify-content: center;
  position: absolute;
  padding-bottom: 40px;
  width: 403px;
  height: 263px;
  background-image: linear-gradient(to top , rgb(0 0 0 / 70%), rgb(0 0 0 / 20%));
}

.container-titulo {
  display: block;
  /* border: 2px solid rgb(0 0 0); */
  height: 50px;
  width: 403px;
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 0 0 20px 20px;
  background-color: rgb(255 255 255 / 50%);
}

.container-info {
  padding: 20px;
  bottom: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: rgb(255 255 255 / 50%);
  width: 363px;
  min-height: 100px;
  border-radius: 20px 20px 0 0;
}

.btn_favorites {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  background-color: rgb(0 0 0 / 70%);
  clip-path: polygon(52% 28%, 65% 23%, 75% 31%, 73% 46%, 67% 54%, 52% 63%, 39% 55%, 32% 46%, 30% 31%, 40% 23%);
  cursor: pointer;
}

.btn_delete {
  position: absolute;
  top: 3px;
  right: 5px;
  height: 30px;
  width: 30px;
  border: none;
  background-color: rgb(0 0 0 / 70%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  cursor: pointer;
}

.btn_favorites:hover {
  background-color: rgb(255 0 0 );
}

.btn_delete:hover {
  background-color: rgb(255 0 0 );
}

.btn_favorites:active {
  background-color: rgb(255 255 255 / 80% );
}

.fav_active {
  background-color: rgb(255 0 0 / 70% );
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  clip-path: polygon(52% 28%, 65% 23%, 75% 31%, 73% 46%, 67% 54%, 52% 63%, 39% 55%, 32% 46%, 30% 31%, 40% 23%);
  cursor: pointer;
}

.fav_active:hover {
  background-color: rgb(255 0 0);
}

.fav_active:active {
  background-color: rgb(255 255 255 / 80%);
}

.targeta-titulo {
  font-size: 20px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(0 0 0 / 70%);
  cursor: pointer;
}

.tageta-informacion {
  color: rgb(0 0 0 / 90%);
  margin: 4px 0;
  font-weight: bold;
  font-size: 18px;
}

li:hover > ul {
  display: block;
}

.block {
  display: none;
}

@media screen and (max-width: 400px) {
  .container-card {
    height: 280px;
    width: 302px;
    backdrop-filter: blur(8px);
    border-radius: 15px;
  }

  .container-img {
    position: relative;
    display: flex;
    width: 303px;
    height: 230px;
    background-color: rgb(0 0 0/70%);
    border-radius: 10px 10px 0 0;
  }

  .image {
    width: 303px;
    height: 230px;
    border-radius: 10px 10px 0 0;
  }

  .container-titulo {
    width: 303px;
    border-radius: 0 0 10px 10px;
  }

  .container-info {
    width: 263px;
    min-height: 100px;
    color: rgba(255 255 255/70%);
  }

  .tageta-informacion {
    font-size: 16px;
  }

  .btn_favorites {
    height: 45px;
    width: 45px;
  }

  .fav_active {
    height: 45px;
    width: 45px;
  }

  .btn_delete {
    height: 15px;
    width: 15px;
  }
}

/* ul {
  list-style-type: none;
  font-size: 15px;
  color: rgb(255 255 255/50%)

} */
