.container-card {
  position: relative;
  height: 26.6vw;
  padding: 0;
  width: 29vw;
  background-color: transparent;
  border-radius: 16px 16px 20px 20px;
  margin: 0 5px 40px 5px;
}

.container-card:hover {
  transform: translate(3px, -3px);
  /* transform: translateX(-2px); */
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 5px 10px 20px 5px rgb(0 0 0 / 70%);
}

.container-img {
  display: flex;
  justify-content: center;
  width: 29vw;
  height: 23vw;
  margin: 0;
  background-color: rgb(255 255 255 / 30%);
  border-radius: 15px 15px 0 0;
}

.Trash_can {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 2.2vw;
  width: 2.2vw;
  cursor: pointer;
  color: rgb(0 0 0 / 80%);
}

.container-img:hover .Trash_can {
  display: block;
}

.image {
  cursor: pointer;
  max-width: 29vw;
  height: 23vw;
  border-radius: 15px 15px 0 0;
}

.text_default {
  display: flex;
  font-size: 23px;
  color: rgb( 255 255 255 / 70%);
  align-items:flex-end;
  justify-content: center;
  position: absolute;
  padding-bottom: 40px;
  width: 403px;
  height: 263px;
  background-image: linear-gradient(to top , rgb(0 0 0 / 70%), rgb(0 0 0 / 20%));
}

.container-titulo {
  height: 3.6vw;
  width: 29vw;
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 0 0 20px 20px;
  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: blur(3px)
}

.container_Info {
  padding: 1.5vw;
  bottom: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: rgb(255 255 255 / 50%);
  width: 26vw;
  min-height: 8vw;
  border-radius: 20px 20px 0 0;
  margin: 0 0 3.6vw 0;
}

.btn_favorites {
  position: absolute;
  top: 0;
  right: 0;
  height: 4vw;
  width: 4vw;
  background-color: rgb(0 0 0 / 70%);
  clip-path: polygon(52% 28%, 65% 23%, 75% 31%, 73% 46%, 67% 54%, 52% 63%, 39% 55%, 32% 46%, 30% 31%, 40% 23%);
  cursor: pointer;
}

.btn_delete {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 2.2vw;
  width: 2.2vw;
  border: none;
  cursor: pointer;
}

.container-img:hover .btn_delete {
  display: block;
}

.btn_favorites:hover {
  background-color: rgb(255 0 0 );
}

.btn_delete:hover {
  color: rgb(255 0 0 );
}

.btn_favorites:active {
  background-color: rgb(255 255 255 / 80% );
}

.fav_active {
  background-color: rgb(255 0 0 / 70% );
  position: absolute;
  top: 0;
  right: 0;
  height: 4vw;
  width: 4vw;
  clip-path: polygon(52% 28%, 65% 23%, 75% 31%, 73% 46%, 67% 54%, 52% 63%, 39% 55%, 32% 46%, 30% 31%, 40% 23%);
  cursor: pointer;
}

.fav_active:hover {
  background-color: rgb(255 0 0);
}

.fav_active:active {
  background-color: rgb(255 255 255 / 80%);
}

.targeta-titulo {
  font-size: 1.7vw;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(0 0 0 / 70%);
  cursor: pointer;
}

.tageta-informacion {
  color: rgb(0 0 0 / 90%);
  margin: 4px 0;
  font-weight: bold;
  font-size: 1.5vw;
}

li:hover > ul {
  display: block;
}

.block {
  display: none;
}

@media screen and (max-width: 500px) {
  .container-card {
    height: 280px;
    width: 302px;
    backdrop-filter: blur(8px);
    border-radius: 15px;
  }

  .container-card:hover {
    transform: none;
    transition: none;
    box-shadow: none;
  }

  .container-img {
    position: relative;
    display: flex;
    width: 303px;
    height: 230px;
    border-radius: 10px 10px 0 0;
  }

  .Trash_can {
    display: block;
  }

  .image {
    max-width: 303px;
    height: 230px;
    border-radius: 10px 10px 0 0;
  }

  .text_default {
    width: 303px;
    height: 190px;
    border-radius: 10px 10px 0 0;
  }

  .container-titulo {
    width: 303px;
    height: 50px;
    border-radius: 0 0 10px 10px;
  }

  .targeta-titulo {
    font-size: 20px;
  }

  .container-info {
    width: 263px;
    min-height: 100px;
    color: rgba(255 255 255 / 70%);
  }

  .tageta-informacion {
    font-size: 16px;
  }

  .btn_favorites {
    height: 15vw;
    width: 15vw;
  }

  .btn_favorites:hover {
    background-color: rgb(0 0 0 / 70%);
  }
  
  .btn_favorites:active {
    background-color: rgb(255 255 255 / 70%);
  }

  .fav_active {
    height: 15vw;
    width: 15vw;
    cursor: none
  }

  .fav_active:hover {
    background-color: rgb(255 0 0 / 70% );
  }

  .fav_active:active {
    background-color: rgb(255 255 255 / 70%);
  }

  .btn_delete {
    height: 15px;
    width: 15px;
  }
}

/* ul {
  list-style-type: none;
  font-size: 15px;
  color: rgb(255 255 255/50%)

} */
