.formulario {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 20px 20px 40px 20px;
  background-image: url('../../Images/Background_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  border-radius: 5px;
}

.container-form {
  display: grid;
  justify-content: center;
  min-height: 80vh;
  width: 360px;
  background-color: rgb(255 255 255 / 15%);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 5px rgb(0 0 0 / 30%);
  backdrop-filter: blur(7px)
}

.form_group {
  position: relative;
  --color: rgb(23 23 23 / 80%);
  justify-content: center;
}

.tbn_select_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(255 255 255 / 30%);
}

.image_celected {
  border: 3px solid rgb(0 255 0 / 70%);
}

.input {
  display: flex;
  padding: 5px ;
  position: relative;
  margin: 10px 0;
  height: 20px;
  width: 340px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color);
}

.btn_crea_dog {
  height: 30px;
  width: 100px;
  justify-content: center;
  align-items:center;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  background-color: rgb(0 0 0 / 50%);
  color: rgb(255 255 255 / 70%);
  cursor: pointer;
}

.btn_crea_dog:active {
  background-color: rgb(0 0 0 / 80%);
}

.form_label {
  margin: 5px 0 0 0;
  color: var(--color);
  position: absolute;
  font-weight: bold;
  top: -10px;
  left: 5px;
}

.button_breeds {
  height: 30px;
  width: 130px;
  border: none;
  margin: 0 30%;
  border-radius: 3px;
  background-color: rgb(0 0 0 / 50%);
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb( 255 255 255 / 80%);
  cursor: pointer;
}

.container_Breeds {
  display: grid;
  justify-content: center;
  position: absolute;
  padding: 5px 0;
  bottom: 150px;
  left: 200px;
  min-height: 250px;
  min-width: 150px;
  background-color: transparent;
  backdrop-filter: blur(3px);
  box-shadow: 5px 10px 20px 5px rgb(0 0 0 / 50%);
  border-radius:5px;
}

.breeds {
  height: 25px;
  min-width: 120px;
  font-size: 16px;
  border: none;
  background-color: rgb(255 255 255 / 80%);
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
}

.btn_crea_dog {
  display: flex;
}

.breeds:hover {
  font-weight: bold;
}

.breeds:active {
  font-weight: normal;
}

.button_temperaments {
  height: 30px;
  width: 130px;
  border: none;
  margin: 0 30%;
  border-radius: 3px;
  background-color: rgb(0 0 0 / 50%);
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb( 255 255 255 / 80%);
  cursor: pointer;
}

.container_temperaments {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  min-height: 70vh;
  padding: 50px 10px 10px 10px;
  background-color: rgb(255 255 255 / 80%);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 280px;
  box-shadow: 5px 10px 20px 5px rgb(0 0 0 / 50%);
}

.close_tbn_temperaments {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer
}

.temperament {
  font-size: 16px;
  border: none;
  background-color: transparent;
  margin: 4px 7px;
  cursor: pointer;
}

.SubmitButton {
  height: 30px;
  width: 100px;
  margin: 10px 0 0 34%;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb( 255 255 255 / 80%);
  color: rgb( 0 0 0 / 80%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: transparent;
  color: rgb( 0 0 0 / 80%);
  box-shadow: 5px 10px 20px 0 rgb(0 0 0 / 50%);
}

.message_success {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0 0 0 / 50%);
}

.check_icon {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50px;
  left: 15vw;
}

.message {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 400px;
  width: 500px;
  font-size: 30px;
  border-radius: 20px;
  background-color: rgb(255 255 255 / 50%);
}

.btn_message_success {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:center;
  bottom: 10vh;
  left: 13vw;
  font-size: 20px;
  height:40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0 0 0 / 70%);
  color: rgb( 255 255 255 / 70%);
  cursor: pointer;
}

.btn_message_success:active {
  background-color: rgb(255 255 255 / 70%);
  color: rgb( 0 0 0 / 90%);
}

.temperament:hover {
  font-weight: bold;
}

.temperament:active {
  font-weight: normal;
}

.Block {
  display: none;
}

.SubmitButton {
  display: flex;
}

.danger {
  color: rgb(200 60 0 );
}

#file {
  display: none;
}

@media screen and (max-width: 500px) {
  .formulario {
    background-position: right;
    border-radius: 0.1px;
  }

  .container-form {
    min-height: 60vh;
    width: 260px;
    margin-top: 10vh;
    padding-left: 50px;
    background-color: rgb(255 255 255 / 35%);
    backdrop-filter: blur(0)
  }

  .container_temperaments {
    width: 70vw;
    min-height: 85vh;
    left: 50px;
    padding: 50px 10px 10px 10px;
  }

  .tbn_select_image {
    width: 80vw;
    margin-left: 1vw;
    font-weight: bold;
    background-color: rgb(255 255 255 / 70%);
  }

  .input {
    width: 80vw;
    font-weight: bold;
    padding-left: 3vw;
    border-radius: 5px;
    border-bottom: 2px solid rgb(0 0 0 / 90%);
  }

  .form_label {
    color: rgb(0 0 0 / 90%);
    font-size:18px;
  }

  .check_icon {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 10px;
    left: 28vw;
  }
  
  .message {
    height: 300px;
    width: 300px;
    font-size: 25px;
  }

  .btn_message_success {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    bottom: 7vh;
    left: 20vw;
    font-size: 20px;
    height:40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 70%);
    color: rgb( 255 255 255 / 70%);
    cursor: pointer;
  }
}