.Btn {
  position: relative;
  height: 40px;
  width: 100px;
  border: none;
  font-size: 17px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(0 0 0 / 90%);
  color: rgb(255 255 255 / 80%);
  cursor: pointer;
}

.Btn_home {
  display:none;
}

.Btn:active {
  font-weight: bold;
  background-color: rgb(255 255 255 / 80%) ;
  color: rgb(0 0 0 / 90%);
}


.navigation_panel_active {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0 0 0 / 50%);
  top: 0;
  left: 0;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
}

.navigation_panel {
  background-color: transparent;
  position: absolute;
  height: 100vh;
  width: 0;
  top: 0;
  left: 0;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
}

.panel {
  top: 0;
  left: 0;
  position: relative;
  display: grid;
  height: 100vh;
  width: 0;
  background-color: rgb(255 255 255 / 70%);
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
}

.active_panel {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 20vw;
  background-color: rgb(255 255 255 / 70%);
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
}

.navigation {
  display: grid;
  padding: 70px 0;
  justify-content: flex-start;
  height: 40vh;
  width: 100%;
  background-color: transparent;
}

.butons {
  font-size: 24px;
  font-weight: bold;
  height:66px;
  width: 20vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.butons:hover {
  background-color: rgb(255 255 255/ 30%);
  border-left: 5px solid rgb(0 0 0 / 80%);
}

.btn_close {
  border:none;
  font-size: 28px;
  position: absolute;
  top: 3px;
  right: 5px;
  background-color:transparent;
  cursor: pointer;
}

.btn_close:active {
  color: rgb(255 255 255 / 70%)
}

.block {
  visibility: hidden;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 2s;
}

@media screen and (max-width: 400px) {
  .Btn_home {
    display:block;
    position: relative;
    height: 40px;
    width: 100px;
    border: none;
    font-size: 17px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 90%);
    color: rgb(255 255 255 / 80%);
    cursor: pointer;
  }

  .navigation_panel_active {
    display: flex;
    justify-content: flex-end;
  }

  .active_panel {
    width: 70vw;
  }

  .butons {
    width: 70vw;
  }
  
  .butons:hover {
    border-right: 5px solid rgb(0 0 0 / 80%);
  }
  
}
