.navbar-container {
  display: flex;
  height: 80px;
  width: 97vw;
  background-color:transparent;
  align-items: center;
  justify-content: space-around;
}

.create-dog-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  background-color: rgba(0 0 0/80%);
  border-radius: 20px;
  cursor: pointer;
}

.create-dog-box:hover {
  background-color: rgba(255 255 255/80%);
}

.create-dog-box:active {
  transform:translateY(2px);
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.create-dog {
  background-color: rgba(255 255 255/80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.create-dog:hover {
  background-color: rgba(0 0 0/80%);
  font-weight: bold;
}

.search-box-inp {
  outline: none;
  height: 40px;
  width: 250px;
  border: none;
  padding-left: 20px;
  font-size: 15px;
  border-radius: 10px  0 0 10px ;
}

.search-box-btn {
  font-size: 17px;
  height: 42px;
  width: 100px;
  border: none;
  border-radius: 0 10px 10px 0 ;
  color: rgb(255 255 255/80%);
  background-color: rgba(0 0 0/90%);
  font-weight: bold;
  cursor: pointer;
}

.search-box-btn:hover {
  color: rgb(0 0 0/80%);
  background-color: rgba(255 255 255/80%);
}

.btn-reload {
  font-size: 15px;
  height: 40px;
  width: 150px;
  border: none;
  background-color: rgba(0 0 0/80%);
  color: rgb(255 255 255/80%);
  border-radius: 20px;
  cursor: pointer;
}

.btn-reload:hover {
  background-color: rgb(255 255 255/80%);
  color: rgb(0 0 0/80%);
  font-weight: bold;
}

.btn-reload:active {
  transform:translateY(2px);
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}
